In [7]:
import pysam
import pandas as pd
import pickle

In [22]:
df = pd.read_csv('/mnt/hpc/home/xuxinran/microC/date/date_0820_1micriC_2microRUN/microRUN/no-GM-K27ac-2_L7_G028_parsed.pairsam',sep="\t",header=None,comment="#",usecols=[0,7])
# df.columns = ["readID","chrom1","pos1","chrom2","pos2","strand1","strand2","pair_type","sam1","sam2"]
df.columns = ["readID","pair_type"]

In [13]:
df[df['pair_type'].str.match('^[Nn][Nn]$')].head(10)

                                      readID pair_type
189   LH00152:52:22CTKWLT3:2:1101:32122:1160        NN
207    LH00152:52:22CTKWLT3:2:1101:9571:1176        NN
394   LH00152:52:22CTKWLT3:2:1101:10755:1272        NN
438   LH00152:52:22CTKWLT3:2:1101:51225:1288        NN
528   LH00152:52:22CTKWLT3:2:1101:48127:1336        NN
769   LH00152:52:22CTKWLT3:2:1101:16737:1481        NN
822   LH00152:52:22CTKWLT3:2:1101:14814:1513        NN
855   LH00152:52:22CTKWLT3:2:1101:18910:1529        NN
899   LH00152:52:22CTKWLT3:2:1101:43662:1545        nn
1115  LH00152:52:22CTKWLT3:2:1101:45391:1657        NN

In [23]:
# both M
df['pair_type'].str.count('^[Mm][Mm]$').sum()

121708

In [24]:
# single M
df['pair_type'].str.count('^[Mm][UuRr]|[UuRr][Mm]$').sum()

198408

In [25]:
# both N
df['pair_type'].str.count('^[Nn][Nn]$').sum()

4877

In [26]:
# single N
df['pair_type'].str.count('^(N[^Nn]|n[^Nn]|[^Nn]N|[^Nn]n)$').sum()

13274